<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div class="container m-5 form-signin text-center" style="width: 40%">
      <form action="/register" method="post">
        <div class="container">
          <label class="form-label" for="user">User</label>
          <input type="text" name="username" id="username" class="form-control" />
          
        </div>
      
        <div class="container">
          <label class="form-label" for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control" />
          
        </div>
        <div>
          <div class="container mt-3">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </div>
      </form>
    </div>
</body>
</html>