<%- include('templates/header')%>
<div class="row">
  <div class="container m-5 form-signin" style="width: 40%">
    <form action="/register" method="post" class="tk-form">
    
      <div class="container">
        <label class="form-label tk-form-label" for="fullname">Full Name</label>
        <input type="text" name="fullname" id="fullname" class="form-control tk-form-input" />
      </div>
    
      <div class="container">
        <label class="form-label tk-form-label" for="user">Username</label>
        <input type="text" name="username" id="username" class="form-control tk-form-input"/>
      </div>
    
      <div class="container">
        <label class="form-label tk-form-label" for="password">Email</label>
        <input type="email" name="email" id="email" class="form-control tk-form-input" />
      </div>

      <div class="container">
        <label class="form-label tk-form-label" for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control tk-form-input" />
      </div>

      <div>
        <div class="container mt-3">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </div>
    </form>

  </div>
  <div class="container m-5 form-signin" style="width: 40%">


  </div>
  
</div> 
<%- include('templates/footer')%>