<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tanukitchen</title>
    <link href="./scss/styles.css" rel="stylesheet" type="text/css"/>
    <style>
        @font-face {
            font-family: 'lexend-deca';
            src: url(./fonts/LexendDeca-Regular.ttf);
        }                  
        @font-face {
            font-family: 'somatic';
            src: url(./fonts/Somatic-Rounded.otf);
        }
    </style>
</head>
    <!-- Image and text -->
<nav class="navbar navbar-light">
    <a class="navbar-brand px-5 " href="#">
        <img src="./img/light-tanukitchen-horizontal.png" 
        height="60" width="auto" alt="Tanukitchen Logo"
        class="d-inline-block align-top">
    </a>
</nav>
<body>
