<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="./scss/styles.css" rel="stylesheet"/>
</head>
    <!-- Image and text -->
<nav class="navbar navbar-light">
    <a class="navbar-brand px-3" href="#">
        <img src="./img/light-tanukitchen-horizontal.png" 
        height="80" width="auto" alt="Tanukitchen Logo"
        class="d-inline-block align-top">
    </a>
</nav>
<body>
