
<!-- Modal -->
<div class="modal fade" id="modal_editProduct" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content  tk-modal">
        <div class="modal-header">
          <h5 class="modal-title tk-text">Editing product</h5>
          </button>
        </div>
        <div class="modal-body">

          <form action="" method="">

            <div class="container">
                <label class="form-label tk-form-label" for="product">Name of the product</label>
                <input type="text" name="product" id="product" class="form-control tk-form-input" value="prodoct"/>
            </div>
            
            <div class="container">
                <label class="form-label tk-form-label" for="description">Description</label>
                <input type="text" name="description" id="description" class="form-control tk-form-input" value="descripchon"/>
            </div>
            
            <div class="container">
                <label class="form-label tk-form-label" for="price">Price</label>
                <input type="number" name="price" id="price" class="form-control tk-form-input" value="69"/>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn tk-form-btn" style="background-color: #4B6CB7;" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn tk-form-btn">Done</button>
        </form>
        </div>
      </div>
    </div>
  </div>